@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;	
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
 #header-wrapper, #section-wrapper, #footer-wrapper
{
	display: block;
}
.text-decoration-none {
	color: black;
}
.menu ul li .nav-link {
	color: black;
}
body {
	height: 100%;
}

/* header */
#header-wrapper {
	background-color: #F8F8F6;
	width: 100%;
	height: 160px;
	border-bottom: #F5F2F2 solid 1px;
	position: fixed;
	z-index: auto;
}
header {
	width: 1280px;
	margin: auto;
	height: 80px;
}
.member {
	line-height: 80px;
}
.member ul{
	display: flex;
	justify-content: flex-end;
	font-size: 13px;
	font-weight: bold;
}
.member ul li {
	margin-left: 20px;
}
#nav {
	width: 1280px;
	margin: auto;
	height: 80px;
	display: flex;
}
.logo {
	width: 150px;
	height: 80px;
	display: inline-block;
}
.logo h2 {
	font-weight: bold;	
	line-height: 75px;
}

.menu {
	width: calc(1280px - 150px);
	margin: auto auto auto 20px;
}

.menu .nav {
	font-weight: bold;
}
.menu ul li {
	margin-left: 20px;
}
li .dropdown-item {
	color: gray;
}

/* main */
#section-wrapper {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 160px;
	min-height: 1080px; 
}
section {
	width: 1100px;
	margin: auto;
	height: 100%;
}

/* footer */
#footer-wrapper {
	background-color: #F8F8F6;
	width: 100%;
	height: 160px;
	border-top: #F5F2F2 solid 1px;
}

/* Product Page */
.prod_title {
	border-bottom: black solid 1px;	
	padding: 10px 0 10px 0;
}
.prod_title #span_1 {
	font-weight: bold;	
}
.prod_title #span_2 {
	color: gray;
}

/* product_chuga */
.prod_table {
	margin: 10px 50px auto 50px;
}

/* product_list */
.prod_list_table {
	margin: 10px 10px auto 10px;
}

/* product_view */
.prod_view_table table tr td {
	text-align: center;
}
span#imgTag {
	color: gray;
	font-size: small;	
}
